* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    --primary-color: #fefaf3;
    --secondary-color: #84a59d;
    --tertiary-color: #f28482;
}

#root {
    height: 100vh;
}

body {
    font-size: 1.6rem;
    height: 100%;
    font-family: "Roboto", serif;
    background-color: var(--primary-color);
    /* background-color: #f7ede2; */
}

.whole-page {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 3rem;
}

.main-container {
    flex: 1 1 auto;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.form-validation-error {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--tertiary-color);
}

.nav-link {
    color: var(--tertiary-color);
}
.nav-link:hover {
    font-weight: 600;
}

.input-icon-eye:hover {
    transform: scale(1.1);
}
