.home-container {
    height: 100%;
    /* background-image: url("../../images/origami.png");
    background-image: url("https://images.pexels.com/photos/7135073/pexels-photo-7135073.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-image: url("https://images.pexels.com/photos/7135055/pexels-photo-7135055.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-image: url("https://cdn.pixabay.com/photo/2016/04/27/13/31/background-1356642_1280.png");

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; */
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.home-welcome-text {
    text-align: center;
}

.home-welcome-text h1 {
    margin-top: 2rem;
    color: var(--secondary-color);
}

.home-welcome-text-description {
    margin: 2rem;
}

.home-lists-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
    width: 80%;
    margin-top: 20px;
    margin: 2rem auto;
    justify-items: center;
    align-items: center;
    max-width: 1400px;
}
