.home-container {
    height: 100%;
    /* background-image: url("../../images/origami.png");
    background-image: url("https://images.pexels.com/photos/7135073/pexels-photo-7135073.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-image: url("https://images.pexels.com/photos/7135055/pexels-photo-7135055.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-image: url("https://cdn.pixabay.com/photo/2016/04/27/13/31/background-1356642_1280.png");

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; */

    /* padding-top: 2rem;
    padding-bottom: 2rem; */
}

.home-welcome-text {
    text-align: center;
    margin-top: 2rem;
}

.home-welcome-text h1 {
    font-size: 2rem;
    margin-top: 1rem;
    color: var(--secondary-color);
}

.home-welcome-text h4 {
    font-size: 16px;
    font-weight: 500;
    margin: 1rem auto;
    width: 75%;
}
.home-welcome-text p {
    margin-bottom: 2rem;
}

.home-lists-container {
    margin: 2rem auto;
    justify-items: center;
    align-items: center;
    max-width: 100%;
}

@media screen and (min-width: 768px) {
    .home-lists-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* margin-top: 3rem; */
    }
}
@media screen and (min-width: 1024px) {
    .home-welcome-text h1 {
        font-size: 24px;
    }

    .home-welcome-text h4 {
        font-size: 18px;
    }
}
@media screen and (min-width: 1280px) {
    .home-lists-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-top: 0;
    }
}
@media screen and (min-width: 1600px) {
    .home-lists-container {
        grid-template-columns: repeat(4, 1fr);
        width: 95%;
    }
}
