.login-container {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.login-container-img {
    width: 100%;
    flex-basis: 60%;
}

.login-container-img img {
    width: 100%;
}

.login-container-form {
    flex-basis: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.login-container-form h1 {
    font-size: 3rem;
}

.login-input-container {
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
}

.login-input-field {
    width: 30rem;
    height: 4rem;
    border: 1px solid var(--secondary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-radius: 5px;
}

.input-icon {
    color: var(--secondary-color);
    width: 2rem;
}

.login-input-field input:focus {
    outline: none;
}

.login-input-container input {
    border: none;
    width: 90%;
    background-color: #fffcf7;
}
