.signup-container {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.signup-container-img {
    display: none;
    /* width: 100%;
    flex-basis: 60%; */
}

.signup-container-img img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.signup-container-form {
    /* flex-basis: 35%; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.signup-container-form h1 {
    font-size: 2rem;
    color: var(--secondary-color);
}

.signup-input-container {
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
}

.signup-input-field {
    width: 35rem;
    height: 4rem;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.input-icon {
    color: var(--secondary-color);
    width: 2rem;
}

.signup-input-container input {
    /* width: 30rem;
    height: 4rem; */
    border: none;
    width: 90%;
    background-color: #fffcf7;
}

.signup-input-field input:focus {
    outline: none;
}

@media screen and (min-width: 768px) {
    .signup-container-img {
        display: flex;
        justify-content: center;
        /* align-items: center; */
        width: 100%;
        flex-basis: 60%;
    }
    .signup-container-img img {
        width: 95%;
    }

    .signup-container-form {
        flex-basis: 35%;
    }
    .signup-input-field {
        width: 30rem;
    }
}

@media screen and (min-width: 1024px) {
    .signup-container-img img {
        width: 100%;
    }
    .signup-container-form h1 {
        font-size: 3rem;
    }
}
