.footer {
    flex: 0 0 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-top: 2rem; */
    background-color: #d2e1da;
    /* background-color: #dce8e2; */
}

/* .footer p {
    margin-left: 3rem;
} */
