.new-list-container {
    width: 350px;
    height: 150px;
    border-radius: 20px;
    background: var(--primary-color);
    /* box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff; */
    box-shadow: 10px 10px 30px #bebebe, -10px -10px 30px #ffffff;
    padding: 2rem;
    margin-top: 2rem;
}

.new-list-container:hover {
    background-color: #fff;
    background-color: #fffcf7;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.new-list-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.new-list-name-input-container {
    margin-bottom: 15px;
    width: 100%;
}

.new-list-name-input-container input {
    width: 100%;
    padding: 10px;
    /* border-bottom: 1px solid #ccc; */
    border: none;
    border-bottom: 1px solid var(--secondary-color);
    /* background-color: #fffcf7; */
    background-color: inherit;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

.new-list-name-input-container input:focus {
    border-color: #fff;
    border-bottom: 1px solid var(--secondary-color);
    outline: none;
}

.new-list-button-container {
    width: 100%;
}

@media screen and (min-width: 768px) {
    .new-list-container {
        height: 350px;
    }
}
