.header-container {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    row-gap: 50px;
}

.header-left {
    width: 50%;
}

.header-left p {
    text-transform: uppercase;
}

.header-right {
    width: 10%;
    display: flex;
    justify-content: space-between;
}
