.header-container {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    padding: 2rem 3rem 0 3rem;
}

.header-left {
    width: 20%;
    display: flex;
    align-items: center;
}

.header-container p {
    text-transform: uppercase;
    width: 60%;
    text-align: center;
}

.header-right {
    width: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    justify-self: flex-end;
}
