/* https://coolors.co/palette/f6bd60-f7ede2-f5cac3-84a59d-f28482 */

.short-list-container {
    width: 350px;
    height: fit-content;
    border-radius: 20px;
    background: var(--primary-color);
    box-shadow: 10px 10px 30px #bebebe, -10px -10px 30px #ffffff;
    padding: 2rem;
    margin-top: 2rem;
}

.short-list-container:hover {
    background-color: #fffcf7;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    color: blue;
}

.list-container {
    width: 350px;
    height: 350px;
    overflow: hidden;
    overflow-y: auto;
    border-radius: 20px;
    background: var(--primary-color);
    box-shadow: 10px 10px 30px #bebebe, -10px -10px 30px #ffffff;
    margin-top: 2rem;
    display: flex;
    flex-direction: column; /* Ensure children are stacked vertically */
    justify-content: flex-start; /* Align children to the top */
}

.list-container:hover {
    background-color: #fffcf7;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

/* Custom scrollbar styling */
.list-container::-webkit-scrollbar {
    width: 10px;
}

.list-container::-webkit-scrollbar-track {
    background: #f7ede2;
    border-radius: 10px;
}

.list-container::-webkit-scrollbar-thumb {
    background-color: #e8cac9;
    border-radius: 10px;
    border: 2px solid #f7ede2;
}

.list-whole-list {
    position: relative;
    height: 100%;
    width: 100%;
}

.list-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2rem;
    /* margin: 0 0 1.2rem 0; */
    background-color: var(--tertiary-color);
    color: #f7ede2;
    max-width: 100%;
}

.list-name-left {
    max-width: 73%;
}

.list-name h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.list-name .list-name-full-text {
    white-space: normal;
    overflow: visible;
    word-break: break-word;
    text-overflow: unset;
}

.list-name h3:hover {
    color: #555;
    /* transform: scale(1.1); */
}

.list-new-name-input,
.list-new-item input {
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--secondary-color);
    background-color: inherit;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

.list-new-name-input:focus,
.list-new-item input:focus {
    outline: none;
}

.list-name-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-icon {
    margin-left: 1rem;
    width: 2rem;
    cursor: pointer;
    color: #888;
    color: #f7ede2;
    transition: color 0.3s ease, transform 0.3s ease;
}

.list-icon:hover {
    color: #555;
    transform: scale(1.1);
}

.list-new-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    margin-top: 2rem;
}

.plus-icon {
    width: 2.5rem;
    color: #a2a2a2;
    color: var(--secondary-color);
}

.plus-icon:hover {
    transform: scale(1.1);
}

.input-validation-error {
    font-size: 1.2rem;
    color: red;
    padding: 0.5rem 2rem;
}

.chevron-up-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    position: sticky;
    /* inset: 300px 0 0 0; */
    top: 300px;
    bottom: 0;
    background: var(--primary-color);
    z-index: 1;
    width: 100%;
}

@media screen and (max-width: 400px) {
    .short-list-container {
        width: 320px;
    }
    .list-container {
        width: 320px;
        height: 320px;
    }
}

@media screen and (min-width: 768px) {
    .chevron-up-wrapper,
    .chevron-down {
        display: none;
    }
}
