.list-container {
    width: 300px;
    height: 300px;
    border: 1px solid black;
    overflow-y: scroll;
}

.list-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 2rem;
    margin: 1.2rem 0;
    background-color: #ffffff;
}

.list-name:hover {
    font-size: 1.8rem;
    font-weight: 600;
}

.list-name-icon {
    margin-left: 1.2rem;
    width: 2rem;
    cursor: pointer;
    color: #888;
    transition: color 0.3s ease, transform 0.3s ease;
}

.list-name-icon:hover {
    color: #555;
    transform: scale(1.1);
}
